$base-color: #f50057;


.Container {
   
    padding: 0 1.0875rem 1.45rem;
    &.Even {
        background-color: #D6D7DA;
    }
}

.Wrapper {
    max-width:  960px;
    margin: 0 auto;
}

.Red {
    color: $base-color;
}
