@import '_common.scss';
.Notes {
    font-style: italic;
    margin-bottom: 5%;
    color: gray;
    border-left: 10px solid $base-color;
    padding-left: 10px;
    line-height: 1.3em;
}

.Points {
}