


.Header {
    flex-grow: 1;
    margin-bottom: 50px;
    color: black
}

.Header header {
    background-color: transparent;
    box-shadow: none;
    color: black;
}

.Title {
    text-decoration:none;
    flex-grow: 1;
    color: black;
}


